body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #464646;
}
.header a {
  text-decoration: none;
  color: #fff;
}

.top-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  max-width: 90%;
  max-height: auto;
  padding: 4rem 0;
}

.phone-image {
  max-width: 100%;
}
.app-store-image {
  max-width: 100%;
}
/* @media (max-width: 576px) {
  .logo-image {
    max-width: 50%;
  }
  .phone-image {
    max-width: 50%;
  }
} */

.main .about {
  background-color: #1b1b1b;
  padding: 4rem;
  text-align: center;
}

.main .about img {
  max-width: 100%;
}

.team {
  padding: 2rem;
}

.team-title {
  margin-bottom: 2rem;
}

.card {
  padding: 0.5rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  margin-top: 0;
}

.card .employee {
  font-size: 1.5rem;
  text-align: center;
}

.card .employee-position {
  font-size: 1.2rem;
  text-align: center;
  opacity: 0.7;
}

.footer {
  background-color: #1b1b1b;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  padding: 0 4rem;
}

.footer .logo-footer {
  font-weight: bold;
}

.footer .copyright {
  font-size: 1rem;
  color: #464646;
}

.footer .email {
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .main .card-body {
    padding: 1rem;
  }
  .main .card-title {
    font-size: 1rem;
  }

  .footer ul li {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .card .employee {
    font-size: 1.2rem;
  }
  .card .employee-position {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .main .about {
    padding: 2rem 0.5rem;
    
  }
  .footer ul {
    display: block;
    text-align: center;
  }
}

@media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}